/* https://jonsuh.com/hamburgers/ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Konckout";
    /* https://www.1001fonts.com/knockout-font.html */
}

@font-face {
    font-family: 'Konckout';
    src: url('./img/Fuentes/Knockout-HTF73-FullHeviweight.386a901fd564bd4a47c7.woff2 ');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Konckout2';
    src: url('./img/Fuentes/Knockout-HTF33-JuniorHeviwt.291432cdf9638ce91c1d.woff2');
    font-style: normal;
    font-weight: normal;
}

body {
    font-size: 15px;
    font-family: "Knockout";
    background: black;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: 142.5rem;
}

.header_wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.div_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger_menu {
    margin-left: 1rem;
}

.button_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mascara {
    position: relative;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a.logo_principal {
    text-decoration: none;
}

a .logo_goiko {
    fill: white;
    width: 50px;
    height: auto;
}

.menu-toggle {
    all: unset;
    cursor: pointer;
    color: white;
    font-size: 40px;
}

.btn {
    font-family: "Knockout";
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: 2px white solid;
    border-radius: 32px;
    padding: .75rem 1rem;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
}

.btn_red {
    font-family: "Knockout";
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #ee2737;
    border: 2px #ee2737 solid;
    border-radius: 32px;
    padding: .75rem 1rem;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
}

#kevin {
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: calc(30% + 2vh);
}

.kevin_text_mov {
    width: 100rem;
    font-family: "Knockout2";
    position: relative;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100vw;
}

.row {
    display: flex;
    white-space: nowrap;
    font-size: 3rem;
    overflow: hidden;
}


.row1::after,
.row2::after,
.row3::after,
.row4::after {
    content: ' Kevin Bacon Kevin Bacon Kevin Bacon Kevin Bacon Kevin Bacon Kevin Bacon';
}

.row1,
.row3 {
    animation: slideLeft 10s linear infinite;
}

.row2,
.row4 {
    animation: slideRight 10s linear infinite;

}

.text_stroked {
    font-size: 48px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-transform: uppercase;
}

.text_filled {
    font-size: 48px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}